{% extends 'accounts/base.html' %}

{% block content %}
<section class="section-log">
  <div class="statut-container">
    <h1>Connexion</h1>
    <form method="POST">
      {% csrf_token %}
      <p>
        <input id="username" type="text" name="username" placeholder="Pseudo">
      </p>
      <p>
        <input id="password" type="password" name="password" placeholder="Mot de passe">
      </p>
      <button type="submit" class="btn-paiement">Connexion</button>
    </form>
    <a href="{% url 'signup' %}">S'inscrire</a>
  </div>
</section>
{% endblock %}